
<h4 class="ui center aligned medium icon header">
  <i class="circular purple comment alternate icon"></i>
  Message Me
</h4>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <%= render "messages/messages", :message => @messages %>
        </div>
      </div>
      <div class="extra content">
        <form class="ui reply form">
          <div class="field">
            <div class="ui fluid icon input">
              <input type="text" placeholder="Enter a message...">
              <i class="bordered inverted blue reply icon"></i>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui purple vertical menu">
      <a class="purple item active">
        Home
      </a>
      <a class="purple item active">
        Messages
      </a>
      <a class="purple item active">
        Friends
      </a>
    </div>
  </div>
</div>