

<div class="ui inverted secondary menu">
  <%= link_to root_path, class: :item do %>
    <i class="universal access icon"></i> Chatroom
  <% end %>
  <a class="item"><i class="rocketchat icon"></i>
    Messages
  </a>
  <a class="item"><i class="user icon"></i>
    Friends
  </a>
  <div class="right menu">
    <div class="ui simple dropdown item">
      Account
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="item"><i class="sign-out icon"></i>Log out</div>
        <%= link_to login_path, class: :item do %>
          <i class="sign-in icon"></i> Log in
        <% end %>
      </div>
    </div>
    <div class="item">
      <div class="ui teal button">Sign Up</div>
    </div>
  </div>
</div>